<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PizzaPersonalizada.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD1463FC1C8DCB39003C71E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD1464101C8DCB3A003C71E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD14641B1C8DCB3A003C71E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
